.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
    padding-top: 20px;
}
.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate ease-in;
}
.slider li {
    width: 100%;
    list-style-type: none;
}
.slider img {
    width: 100%;
    height: 500px;
}
@keyframes cambio {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}

.middleContainer {
    padding-left: 20px;
    padding-right: 20px;
    :nth-child(even) {
        flex-direction: row-reverse;
    }

}
.middleItem {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    height: 300px;
}
.item50 {
    height: 200px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.item50 img {
    // width: 100%;
    display: block;
    height: 100%;
}
